.admin-user-detail-page {
    padding: 2rem;

    nav {
        margin-bottom: 1rem;
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__message {
        min-height: 3.1rem;
    }
}
